.important-item {
    color: rgb(35, 16, 201);
    font-size: 50px;
    border: rgb(13, 13, 185) 1px solid;
    margin-left: 10px;
    padding: 5px;
}
.title {
    color: rgb(129, 175, 56);
    font-size: 30px;
    border: rgb(153, 29, 101) 1px solid;
    margin-left: 10px;
    padding: 5px;
}
.important-size {
    font-size: 70px;
}